body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.celular{
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

iframe{
    height: 473px;
    width: 267.6px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -49.5%);
}

nav{
    width: 50px;
    position: absolute;
    right: 1%;
}

img{
    width: 50px;
    border-radius: 50%;
    transition: 0.5s;
}

img:hover{
    border: 1px solid rgb(64, 255, 0);
}